{# index.twig #}
{% extends "partials/layout.twig" %}

{# Imports #}
{% import "components/section.twig" as section %}
{% import "components/links.twig" as links %}
{% import "components/media.twig" as media %}
{% import "components/list.twig" as list %}
{% import "components/paragraph.twig" as paragraph %}
{% import "components/title.twig" as title %}
{% import "components/block.twig" as block %}
{% import "components/form.twig" as form %}
{% import "partials/nav.twig" as nav %}
{% import "blocks/block--home.twig" as blockHome %}

{% block page %}

    {# Navigation #}
    {% set logoNav =
    links.link(
        '',
        '#home',
        'home',
        media.img('class="logo--nav"','"../img/logo.png"','logo')
    )
    %}

    {% set navigation =
        list.ul(
            'class="navigation"',
            list.li('', links.link('class="link link-prez"', '#section-prez', "nextsection", 'Présentation')) ~
            list.li('', links.link('class="link link-metier"', '#section-metiers', "nextsection", 'Nos métiers')) ~
            list.li('', links.link('class="link link-galerie"', '#section-galerie', "nextsection", 'Galerie')) ~
            list.li('', links.link('class="link link-contact"', '#section-contact', "nextsection", 'Contactez-nous'))
        )
    %}

    {{ nav.nav(logoNav,navigation) }}
    {{ block.blockDiv(
            'class="bg-fixe"',
            media.video('autoplay muted loop class="bgVideo"','"../video/background_video.mp4"','type="video/mp4"')
        )
    }}

    {# FULL page #}
    <div id="fullpage">
    
        {# Slide 1 : Home #}
        {% set slide1Content = 
            media.img('class="logo--home"','"../img/logo.png"','logo') ~
            links.LinkScroll('class="link link--scroll"', '#section-prez', 'nextsection')
        %}

        {{ section.section(
            'class="section section--home" data-anchor="home"',
            slide1Content
        ) }}

        {# Slide 2 : Présentation #}
        {% set slide2right =
        block.blockDiv(
            'class="block-center u-w-60p u-m-0a"',
            title.titleh2('class="title title--2 title--line"',"Lorem ipsum dolor sit amen") ~
            paragraph.p('class="medium u-ta-center"',"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis, elit id vestibulum fermentum, arcu quam ultricies est, at condimentum ipsum magna sit amet ante. Nam eleifend sollicitudin ex quis consectetur. Quisque mollis, purus sit amet mollis tempor, quam ligula imperdiet purus, eu feugiat lectus mi vitae odio. Duis arcu sem, semper id aliquet sed, efficitur nec elit. Quisque nec neque erat. Cras id augue elit. Aliquam convallis, dui dignissim consectetur tincidunt, lectus nisl dictum sem, ultricies lacinia ex mi at elit. Proin vitae nisi congue metus rhoncus porttitor et sit amet felis. Vestibulum sit amet lacinia libero, id viverra felis.")
        )
        %}

        {{ section.sectionSplit(
            'class="section section--prez" data-anchor="section-prez"',
            "",
            slide2right
        ) }}

        {# Slide 3 : Métier #}
        {% set slide3Content = 
            links.link('class="u-ta-center link link--scroll"', '#home', "nextsection", 'Scroll')
        %}

        {{ section.section(
            'class="section section--metiers u-bg-gradient" data-anchor="section-metiers"',
            slide3Content
        ) }}

        {# Slide 4 : Gallery #}
        {% set slide4Content =
            block.blockDiv(
                'class="gallery"',
                block.blockDiv('class="gallery-link"', media.img('class="gallery-image"','http://satyr.io/600x900',"unsplash")) ~
                block.blockDiv('class="gallery-link"', media.img('class="gallery-image"','https://unsplash.it/1600/1200?image=1014',"unsplash")) ~
                block.blockDiv('class="gallery-link"', media.img('class="gallery-image"','https://unsplash.it/1200/1600?image=267',"unsplash")) ~
                block.blockDiv('class="gallery-link"', media.img('class="gallery-image"','https://unsplash.it/1000/1200?image=266',"unsplash"))
            )
        %}
        {{ section.section(
        'class="section section--galerie u-pt-60" data-anchor="section-galerie"',
        slide4Content
        ) }}

        {# Slide 5 : Contact #}
        {% set slide5 =
            form.form(
                'class="u-pt-60 form"',
                block.blockDiv(
                    'class="u-p-15 u-w-100p"',
                    block.blockDiv(
                        'class="group-form"',
                        form.label('','input 1') ~
                        form.input('text','','','','') ~
                        paragraph.p('class="error u-mt-10"',"lorem ipsum error")
                    )
                ) ~
                block.blockDiv(
                    'class="u-p-15 u-w-100p"',
                    block.blockDiv(
                        'class="group-form"',
                        form.label('','input 1') ~
                        form.input('text','','','','') ~
                        paragraph.p('class="error u-mt-10"',"lorem ipsum error")
                    )
                )

            )
        %}

        {{ section.section(
        'class="section section--contact" data-anchor="section-contact"',
        slide5
        ) }}

    </div>

{% endblock %}