{% macro section(attribut, content) %}
    
    <section {{ attribut }}>
        <div class="container">
            {{ content|raw }}
        </div>
    </section>

{% endmacro %}

{% macro sectionSplit(attribut, contentLeft, contentRight) %}

    <section {{ attribut }}>
        <div class="container-split">
            <div class="section-left">
                {{ contentLeft|raw }}
            </div>
            <div class="section-right">
                {{ contentRight|raw }}
            </div>
        </div>
    </section>

{% endmacro %}