{% macro titleh1(attribut, content) %}
    <h1 {{ attribut }}>{{ content|raw }}</h1>
{% endmacro %}

{% macro titleh2(attribut, content) %}
    <h2 {{ attribut }}>{{ content|raw }}</h2>
{% endmacro %}

{% macro titleh3(attribut, content) %}
    <h3 {{ attribut }}>{{ content|raw }}</h3>
{% endmacro %}